<div class="summary">
  <div class="row"><span class="label">Gross income</span><span class="value">${{ grossIncome().toFixed(2) }}</span></div>
  <div class="row"><span class="label">Tips</span><span class="value">${{ totalTips().toFixed(2) }}</span></div>
  <div class="row"><span class="label">Business costs</span><span class="value">${{ totalCosts().toFixed(2) }}</span></div>
  <div class="row"><span class="label">Total tax</span><span class="value">${{ totalTax().toFixed(2) }}</span></div>
  <div class="row net"><span class="label">Net</span><span class="value">${{ net().toFixed(2) }}</span></div>
</div>
